<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>     
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bravo.Automation.Creation.Locators" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bravo.Automation.Creation.Locators" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">       
        <file value="logfile.log" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="ALL" />
        <appender-ref ref="LogFileAppender" />
      </root>
    </log4net>
    <applicationSettings>
      <Bravo.Automation.Creation.Locators>
        <setting name="Login_name_txt_username" serializeAs="String">
          <value>username</value>
        </setting>
        <setting name="Login_name_txt_password" serializeAs="String">
          <value>password</value>
        </setting>
        <setting name="Login_xpath_btn_login" serializeAs="String">
          <value>//button</value>
        </setting>
        <setting name="Users_id_btn_addnew" serializeAs="String">
          <value>BtnAdd</value>
        </setting>
        <setting name="Users_name_txt_username" serializeAs="String">
          <value>userName</value>
        </setting>
        <setting name="Users_name_txt_email" serializeAs="String">
          <value>email</value>
        </setting>
        <setting name="Users_name_txt_password" serializeAs="String">
          <value>password</value>
        </setting>
        <setting name="Users_name_txt_repassword" serializeAs="String">
          <value>passwordConfirm</value>
        </setting>
        <setting name="Users_name_txt_fullname" serializeAs="String">
          <value>fullName</value>
        </setting>
        <setting name="Users_name_ddl_role" serializeAs="String">
          <value>roleID</value>
        </setting>
        <setting name="Users_name_txt_phone" serializeAs="String">
          <value>phone</value>
        </setting>
        <setting name="Users_xpath_btn_save" serializeAs="String">
          <value>//button[contains(@class,'btn')][contains(.,'إضافة')]</value>
        </setting>
        <setting name="Users_csslocator_div_notification" serializeAs="String">
          <value>div.ui-notification-message.ng-binding</value>
        </setting>
        <setting name="UserGroups_id_btn_addnew" serializeAs="String">
          <value>BtnAdd</value>
        </setting>
        <setting name="UserGroups_name_txt_name" serializeAs="String">
          <value>name</value>
        </setting>
        <setting name="UserGroups_xpath_btn_save" serializeAs="String">
          <value>//button[contains(@class,'btn')][contains(.,'إضافه')]</value>
        </setting>
        <setting name="UserGroups_id_txt_search" serializeAs="String">
          <value>txtSearch</value>
        </setting>
        <setting name="UserGroups_xpath_icon_details" serializeAs="String">
          <value>//button[contains(@id,'BtnDetails')]</value>
        </setting>
        <setting name="UserGroups_xpath_btn_addusers" serializeAs="String">
          <value>//button[contains(@id,'BtnAdd')][contains(.,'إضافة مستخدمين')]</value>
        </setting>
        <setting name="UserGroups_xpath_txt_addsup" serializeAs="String">
          <value>//tags-input/div/div</value>
        </setting>
        <setting name="UserGroups_xpath_txt_addinsp" serializeAs="String">
          <value>//div[2]/tags-input/div/div</value>
        </setting>
        <setting name="UserGroups_csslocator_div_notification" serializeAs="String">
          <value>div.ui-notification-message.ng-binding</value>
        </setting>
        <setting name="UserGroups_xpath_option_user" serializeAs="String">
          <value>//ng-include/div/span</value>
        </setting>
        <setting name="UserGroups_id_btn_saveusers" serializeAs="String">
          <value>BtnUpdate</value>
        </setting>
        <setting name="UserGroups_csslocator_header_title" serializeAs="String">
          <value>h2.ng-binding.ng-isolate-scope</value>
        </setting>
        <setting name="UserGroups_xpath_txt_addsuptype" serializeAs="String">
          <value>//input[@type='text']</value>
        </setting>
        <setting name="UserGroups_xpath_txt_addinsptype" serializeAs="String">
          <value>(//input[@type='text'])[2]</value>
        </setting>
        <setting name="EntityTypes_xpath_btn_addnew" serializeAs="String">
          <value>//button[contains(@id,'BtnAdd')][contains(.,'نوع منشأة')]</value>
        </setting>
        <setting name="EntityTypes_xpath_txt_name" serializeAs="String">
          <value>//input[contains(@name,'typeName')]</value>
        </setting>
        <setting name="EntityTypes_xpath_txt_displayname" serializeAs="String">
          <value>//input[contains(@name,'displayName')]</value>
        </setting>
        <setting name="EntityTypes_xpath_btn_save" serializeAs="String">
          <value>//button[contains(@class,'btn')][contains(.,'إضافة')]</value>
        </setting>
        <setting name="EntityTypes_xpath_txt_search" serializeAs="String">
          <value>//input[contains(@placeholder,'بحث') or contains(@placeholder,'Search')]</value>
        </setting>
        <setting name="EntityTypes_xpath_icon_details" serializeAs="String">
          <value>//button[contains(@class,'btnDetails')]</value>
        </setting>
        <setting name="EntityTypes_csslocator_div_notification" serializeAs="String">
          <value>div.ui-notification-message.ng-binding</value>
        </setting>
        <setting name="EntityTypes_xpath_a_textboxfield" serializeAs="String">
          <value>//a[contains(@displayname,'حقل نصي') or contains(@displayname,'TextBox')]</value>
        </setting>
        <setting name="EntityTypes_xpath_btn_savefields" serializeAs="String">
          <value>//button[contains(.,'Save') or contains(.,'حفظ') and contains(@type,'submit')]</value>
        </setting>
        <setting name="EntityTypes_xpath_div_griddrop" serializeAs="String">
          <value>//div[contains(@class,'noData')]</value>
        </setting>
        <setting name="EntityGroups_xpath_btn_addnew" serializeAs="String">
          <value>//button[contains(@id,'BtnAdd')]</value>
        </setting>
        <setting name="EntityGroups_xpath_txt_name" serializeAs="String">
          <value>//input[contains(@name,'name')]</value>
        </setting>
        <setting name="EntityGroups_xpath_ddl_entitytype" serializeAs="String">
          <value>//select[contains(@name,'entityTypeId')]</value>
        </setting>
        <setting name="EntityGroups_xpath_btn_save" serializeAs="String">
          <value>//button[contains(@class,'btn') and contains(.,'Add') or contains(.,'إضافة')]</value>
        </setting>
        <setting name="EntityGroups_xpath_txt_search" serializeAs="String">
          <value>//input[contains(@placeholder,'بحث') or contains(@placeholder,'Search')]</value>
        </setting>
        <setting name="EntityGroups_csslocator_icon_details" serializeAs="String">
          <value>i.fa.fa-file-text-o</value>
        </setting>
        <setting name="EntityGroups_xpath_btn_addnewentity" serializeAs="String">
          <value>//button[contains(@id,'BtnAdd') and contains(.,'New Entity') or contains(.,'منشأة جديدة')]</value>
        </setting>
        <setting name="FormBuilder_xpath_btn_addnew" serializeAs="String">
          <value>//button[contains(.,'Create New Form') or contains(.,'نموذج جديد')]</value>
        </setting>
        <setting name="FormBuilder_id_btn_formname" serializeAs="String">
          <value>formName</value>
        </setting>
        <setting name="FormBuilder_id_btn_formdisplayname" serializeAs="String">
          <value>formDisplayName</value>
        </setting>
        <setting name="FormBuilder_xpath_chk_scheduled" serializeAs="String">
          <value>//div[5]/p-checkbox/div/div[2]</value>
        </setting>
        <setting name="FormBuilder_xpath_btn_addform" serializeAs="String">
          <value>//button[contains(@type,'submit') and contains(.,'إضافة') or contains(.,'Add')]</value>
        </setting>
        <setting name="FormBuilder_csslocator_div_notification" serializeAs="String">
          <value>div.ui-notification-message.ng-binding</value>
        </setting>
        <setting name="FormBuilder_id_txt_search" serializeAs="String">
          <value>float-input</value>
        </setting>
        <setting name="FormBuilder_csslocator_div_formdispname" serializeAs="String">
          <value>div.col-lg-12.card-header &gt; a</value>
        </setting>
        <setting name="FormBuilder_xpath_a_textinputfield" serializeAs="String">
          <value>//div[@id='formControls']/div/div/i</value>
        </setting>
        <setting name="FormBuilder_id_div_griddrop" serializeAs="String">
          <value>currentBuilderModel</value>
        </setting>
        <setting name="FormBuilder_xpath_btn_save" serializeAs="String">
          <value>//button[contains(.,'Save') or contains(.,'حفظ')]</value>
        </setting>
        <setting name="Workflow_csslocator_icon_workflowsteps" serializeAs="String">
          <value>i.fa.fa-sitemap</value>
        </setting>
        <setting name="Workflow_xpath_btn_startnewaction" serializeAs="String">
          <value>//div[contains(.,'إجراء جديد') and contains(@class,'btn')]</value>
        </setting>
        <setting name="Workflow_xpath_btn_save" serializeAs="String">
          <value>//button[contains(.,'Save') or contains(.,'حفظ')]</value>
        </setting>
        <setting name="Workflow_csslocator_icon_startinspector" serializeAs="String">
          <value>i.icon-inspector</value>
        </setting>
        <setting name="Workflow_name_txt_actionname" serializeAs="String">
          <value>name</value>
        </setting>
        <setting name="Workflow_name_txt_actiontype" serializeAs="String">
          <value>actionTypeSelect</value>
        </setting>
        <setting name="Workflow_name_txt_actiontrigger" serializeAs="String">
          <value>triggerTypeSelect</value>
        </setting>
        <setting name="Workflow_name_txt_actionnextstep" serializeAs="String">
          <value>nextStepSelect</value>
        </setting>
        <setting name="Workflow_id_btn_addaction" serializeAs="String">
          <value>BtnUpdate</value>
        </setting>
        <setting name="EntityGroups_name_txt_entityname" serializeAs="String">
          <value>name</value>
        </setting>
        <setting name="EntityGroups_name_txt_entityweight" serializeAs="String">
          <value>weight</value>
        </setting>
        <setting name="EntityGroups_name_txt_entitylong" serializeAs="String">
          <value>longitude</value>
        </setting>
        <setting name="EntityGroups_name_txt_entitylat" serializeAs="String">
          <value>latitude</value>
        </setting>
        <setting name="EntityGroups_xpath_txt_entitytypefield" serializeAs="String">
          <value>//input[@type='text']</value>
        </setting>
        <setting name="EntityGroups_xpath_btn_saveentity" serializeAs="String">
          <value>//button[contains(.,'إضافة') or contains(.,'Add')]</value>
        </setting>
        <setting name="Workflow_csslocator_icon_addstep" serializeAs="String">
          <value>li.add-step.ng-scope</value>
        </setting>
        <setting name="Workflow_xpath_icon_stepsupervisor" serializeAs="String">
          <value>//div[@id='tab']/ng-form[2]/workflow-actors-component/div/div/div/a[3]/div/center/i</value>
        </setting>
        <setting name="Workflow_xpath_icon_stepone" serializeAs="String">
          <value>//form/ul/li[2]</value>
        </setting>
        <setting name="Linking_id_btn_newlink" serializeAs="String">
          <value>BtnAdd</value>
        </setting>
        <setting name="Linking_id_select_entitygroup" serializeAs="String">
          <value>entityGroupsSelect</value>
        </setting>
        <setting name="Linking_id_select_form" serializeAs="String">
          <value>formsSelect</value>
        </setting>
        <setting name="Linking_id_select_usergroup" serializeAs="String">
          <value>userGroupsSelect</value>
        </setting>
        <setting name="Linking_xpath_btn_savelink" serializeAs="String">
          <value>//button[contains(@id,'BtnUpdate') and contains(.,'Add') or contains(.,'إضافة')]</value>
        </setting>
        <setting name="Linking_csslocator_div_notification" serializeAs="String">
          <value>div.ui-notification-message.ng-binding</value>
        </setting>
        <setting name="FormBuilder_csslocator_icon_switchactivate" serializeAs="String">
          <value>span.ui-inputswitch-slider</value>
        </setting>
        <setting name="EntityTypes_xpath_icon_edittextboxfield" serializeAs="String">
          <value>//div[2]/a[2]/i</value>
        </setting>
        <setting name="EntityTypes_xpath_txt_textboxfieldnamedb" serializeAs="String">
          <value>//div[2]/input</value>
        </setting>
        <setting name="EntityTypes_xpath_txt_savetextboxdetailsfield" serializeAs="String">
          <value>//div[3]/button</value>
        </setting>
        <setting name="Taskdistribution_xpath_div_singleentity" serializeAs="String">
          <value>//div[contains(@draggable,'true') and contains(@class,'single-entity')]</value>
        </setting>
        <setting name="Taskdistribution_xpath_div_droptoday" serializeAs="String">
          <value>//div[contains(@id,'#')]/div/ul</value>
        </setting>
        <setting name="Mobile_xpath_edittxt_username" serializeAs="String">
          <value>/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup[2]/android.widget.EditText[1]</value>
        </setting>
        <setting name="Mobile_xpath_edittxt_password" serializeAs="String">
          <value>	
/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup[2]/android.widget.EditText[2]</value>
        </setting>
        <setting name="Mobile_xpath_btn_login" serializeAs="String">
          <value>/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup[2]/android.view.ViewGroup[5]/android.widget.Button</value>
        </setting>
        <setting name="Tasks_csslocator_icon_details" serializeAs="String">
          <value>i.fa.fa-eye</value>
        </setting>
        <setting name="Tasks_xpath_btn_action" serializeAs="String">
          <value>//div[@id='divActions']/div/div/button</value>
        </setting>
        <setting name="Mobile_xpath_txtview_firsttask" serializeAs="String">
          <value>/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.view.ViewGroup[2]/android.view.ViewGroup[2]/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.TextView[1]</value>
        </setting>
        <setting name="Mobile_xpath_edittxt_firsttextinput" serializeAs="String">
          <value>	
/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup/android.widget.EditText</value>
        </setting>
        <setting name="Mobile_xpath_txtview_savetaskform" serializeAs="String">
          <value>	
/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[1]/android.view.ViewGroup[2]/android.widget.TextView</value>
        </setting>
        <setting name="Mobile_xpath_txtview_backtotasks" serializeAs="String">
          <value>/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.widget.TextView</value>
        </setting>
        <setting name="Mobile_xpath_txtview_uploadtask" serializeAs="String">
          <value>/hierarchy/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.LinearLayout/android.widget.FrameLayout/android.widget.FrameLayout/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.view.ViewGroup[2]/android.view.ViewGroup[2]/android.view.ViewGroup/android.widget.ScrollView/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup/android.view.ViewGroup[3]/android.widget.Button</value>
        </setting>
        <setting name="Taskdistribution_xpath_div_taskdropedtoday" serializeAs="String">
          <value>//div[contains(@id,'#1') and contains(@uib-tooltip,'#2')]/div/ul/li/div[2]</value>
        </setting>
        <setting name="FormBuilder_xpath_btn_saveandclosearrow" serializeAs="String">
          <value>//button[2]</value>
        </setting>
        <setting name="FormBuilder_xpath_btn_saveandclose" serializeAs="String">
          <value>//li[2]/a/span[2]</value>
        </setting>
      </Bravo.Automation.Creation.Locators>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>